# Default values for rudderstack.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

---
# Deployment specific values for rudderstack.
# Following values must be filled in for the deployment to succeed

# Please uncomment below lines and fill values accordingly.
# Please enter api token obtained from rudder dashboard below or specify existing secret, that contains rudderWorkspaceToken key
rudderWorkspaceToken: replaceMe
# rudderWorkspaceTokenExistingSecret:

# -- Labels to apply to all resources
commonLabels: {}
# myLabel: aakkmd

gcpCredentialSecret:
  enabled: false
  jsonKeyFile: ""
  mountPath: /etc/gcp

global:
  # backendReplicaCount decides the replica count for rudder backend and postgresql containers
  backendReplicaCount: 1
  imagePullSecrets: []
  ## If defined, storageClassName: <storageClass>
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is
  ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
  ##   GKE, AWS & OpenStack)
  ##
  storageClass: ""

backend:
  image:
    repository: rudderlabs/rudder-server
    version: latest
    pullPolicy: Always
  controlPlaneJSON: false
  ingress:
    enabled: false
    tls: false
    # -- Annotations to be added to backend ingress
    annotations: {}
    # -- Labels to be added to backend ingress
    labels: {}
    hostname: "rudderstack.local"
    # optional override for tls secret name
    # secretName: rudderstack-tls
  service:
    # -- Annotations to be added to backend service
    annotations:
      ## Refer https://kubernetes.io/docs/concepts/services-networking/service/#loadbalancer for more annotations
      service.beta.kubernetes.io/aws-load-balancer-backend-protocol: http
      ## For enabling https on aws,
      ## uncomment below line with acm managed certificate arn and change port value below to 443
      # service.beta.kubernetes.io/aws-load-balancer-ssl-cert: arn:aws:acm:us-east-1:123456789012:certificate/12345678-1234-1234-1234-123456789012
    # -- Labels to be added to backend service
    labels: {}
    type: LoadBalancer
    port: 80
    targetPort: 8080
  resources:
    requests:
      memory: 2560Mi
    limits:
      memory: 5120Mi
  # -- Labels to add to the backend pod container metadata
  podLabels: {}
  # -- Annotations to be added to backend pods
  podAnnotations: {}

  nodeSelector: {}

  persistence:
    mountPath: /data/rudderstack
    accessModes:
      - ReadWriteOnce
    size: 36Gi
    annotations: {}
  tolerations: []

  config:
    mountPath: "/etc/rudderstack"
    # -- rudder-server config overrides
    # See [config parameters](https://docs.rudderlabs.com/administrators-guide/config-parameters) for more details
    overrides: {}
      # enableStats: false
      # Logger:
      #  consoleJsonFormat: true

  extraEnvVars:
    - name: CONFIG_BACKEND_URL
      value: "https://api.rudderlabs.com"
    - name: CONFIG_PATH
      value: "/etc/rudderstack/config.yaml"
    # These credentials are used for backing up successfully processed events
    - name: AWS_ACCESS_KEY_ID
      value: "Add your aws key id here"
    - name: AWS_SECRET_ACCESS_KEY
      value: "Add your aws access secret here"
    - name: BUGSNAG_KEY
      value: "3669852453c688bb50a0a2d27bf0ee58"
    - name: RUDDER_TMPDIR
      value: "/data/rudderstack"
    - name: JOBS_BACKUP_STORAGE_PROVIDER
      value: "S3"  # object storage provider to store backups eg. S3, GCS, AZURE_BLOB, MINIO
    - name: JOBS_BACKUP_BUCKET
      value: "Add your bucket name to store backups of incoming events"
    - name: JOB_STATUS_BACKUP_BUCKET
      value: "Add your bucket name to store backups of status of incoming events"
    - name: GOOGLE_APPLICATION_CREDENTIALS
      value: "/etc/rudderstack/google-application-credentials.json"
    - name: LOG_LEVEL
      value: "INFO"  # eg. DEBUG, ERROR
      # DO NOT REMOVE - Mandatory env for Shopify
    - name: RSERVER_GATEWAY_WEBHOOK_SOURCE_LIST_FOR_PARSING_PARAMS
      value: Shopify

  # -- Labels to be added to the controller StatefulSet and other resources that do not have option to specify labels
  labels: {}

transformer:
  replicaCount: 1
  service:
    port: 9090
  image:
    repository: rudderstack/rudder-transformer
    version: latest
    pullPolicy: Always
  resources:
    requests:
      memory: 256Mi
    limits:
      memory: 768Mi

serviceAccount:
  # -- Enable service account creation.
  create: false

  # -- Annotations to be added to the service account.
  annotations: {}

  # -- The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template.
  name: ""

# -- Enable internal PostgreSQL subchart deployment
# When set to false, you must provide externalDatabase configuration
postgresql:
  enabled: true
  nameOverride: "rudderstack-postgresql"
  postgresqlUsername: rudder
  postgresqlPassword: password
  postgresqlDatabase: jobsdb
  postgresqlRunAsUser: 70
  imagePullPolicy: IfNotPresent
  image:
    repository: postgres
    tag: "17-alpine"
    pullPolicy: IfNotPresent
  persistence:
    size: 100Gi
  replication:
    enabled: false
  service:
    type: "ClusterIP"
    port: 5432
  resources:
    requests:
      memory: 2048Mi
    limits:
      memory: 4096Mi

# -- External database configuration
# Use this when postgresql.enabled is false to connect to an external database
externalDatabase:
  # -- Host of the external database (or use existingSecret)
  host: ""
  # -- Port of the external database (or use existingSecret)
  port: 5432
  # -- Database name (or use existingSecret)
  database: "jobsdb"
  # -- Username for the external database (or use existingSecret)
  user: "rudder"
  # -- Password for the external database (or use existingSecret)
  password: ""
  # -- Existing secret containing database connection details
  # If set, all database values (host, port, database, user, password) will be taken from this secret
  # If not set, values will be taken from the fields above
  existingSecret: ""
  # -- Keys in the existing secret for each database field
  # Only used when existingSecret is set
  existingSecretKeys:
    host: "host"
    port: "port"
    database: "database"
    user: "user"
    password: "password"

telegraf_sidecar:
  enabled: true
  name: telegraf
  version: 1.33.3
  nameOverride: "rudderstack"
  image:
    repo: "telegraf"
    tag: "1.33.3-alpine"
    pullPolicy: IfNotPresent
  resources:
    requests:
      memory: 128Mi
      cpu: 100m
    limits:
      memory: 128Mi
      cpu: 100m
  config:
    mountPath: /etc/telegraf
    agent:
      interval: "10s"
    outputs:
      - influxdb:
          urls: []
          #            - "http://influxdb.monitoring.svc:8086"
          database: "telegraf"
    statsd_percentiles:
      - 50
      - 90
      - 95
      - 99

affinity: {}
